@import url('http://fonts.cdnfonts.com/css/neue-haas-grotesk-text-pro');

// Colors
$primary-white: #FFFFFF;
$primary-black: #000000;
$secundary-black: #131313;
$primary-red: #EC0606;
$primary-purple: #6516E9;
$primary-green: #0FC000;

// Margins
$margin-base: 0.25rem;
$margin-far: 1rem;

// Fonts size
$font-size-base: 1rem;
$font-size-h1: 3rem;
$font-size-h2: 2.5rem;
$font-size-h3: 2rem;

// Fonts
$font-families: 'Neue Haas Grotesk Text Pro', sans-serif;